.bordered {
    border: 20px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #eb3204 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #eb3204 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #eb3204 0%, #3a4ed5 100%);
    border-image-slice: 1;
}

.fab {
    font-size: 1.2rem;
}

.avatar {
    max-width: 100%;
    background-image: linear-gradient(to top, #3a4ed5 0%, transparent 80%);
    border-bottom-right-radius: 50% 30%;
    border-bottom-left-radius: 50% 30%;
}
